<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">出错了QAQ</h1>
            <h2 class="page-header">请检查以下错误或联系管理员</h2>
            <h4 class="page-header">
                '用户名' 不能超过10个字
            </h4>
            <h4 class="page-header">
                '重点工作名称' 不能超过30个字
            </h4>
            <h4 class="page-header">
                '重点工作完成情况' 不能超过200个字
            </h4>
            <h4 class="page-header">
                '自评' 和 '赋分' 必须为数字
            </h4>
            <h4 class="page-header">
                '赋分人' 不能超过10个字
            </h4>



        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>

